<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"/>
    <link rel="stylesheet" href="/css/style.css" type="text/css"/>
</head>

<body>

<div class="container">
  <div class="row d-flex justify-content-center mt-5">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
      <div class="card py-3 px-2">
        <p class="text-center mb-3 mt-2">Continue with...</p>
        <div class="row mx-auto ">
          <div class="col-4">
            <i class="fab fa-twitter"></i>
          </div>
          <div class="col-4">
            <i class="fab fa-facebook"></i>
          </div>
          <div class="col-4">
            <i class="fab fa-google"></i>
          </div>
        </div>
        <div class="division">
          <div class="row">
            <div class="col-3"><div class="line l"></div></div>
            <div class="col-6"><span>or</span></div>
            <div class="col-3"><div class="line r"></div></div>
          </div>
        </div>

        <form class="myform" action="/home" method="POST">
          <div class="form-group">
            <input type="text" name="login" class="form-control" placeholder="Login">
          </div>
          <div class="form-group">
            <input type="password" name="password" class="form-control" placeholder="Password">
          </div>
          <div class="row">
            <div class="col-md-6 col-12">
              <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Remember me</label>
              </div>
            </div>
            <div class="col-md-6 col-12 bn">Forgot password</div>
          </div>
          <div class="form-group mt-3">
            <button type="submit" class="btn btn-block btn-primary btn-lg"><small><i class="far fa-user pr-2"></i>Log in</small></button>
          </div>
          <p th:utext="${error}"></p>
        </form>
      </div>
    </div>
  </div>
</div>

</body>
</html>